.footer
    div(class="footer__logo")
        p JobTracker
    ul(class="footer__nav")
        li
            a(href="#") About
        li
            a(href="#") Download app
        li
            a(href="#") Contact
    p(class="footer__copyright")
        | &copy; by Yusuf Habib Tajudeen. All rights reserved.