extends base 

block content
    .nav-container
        p
            span.active-color JobTracker
        ul.nav-menu
            li.btn.btn-nav.nav-item
                a.nav-link(href="#") Sign Up 
                i.fa-solid.fa-circle-user
        .hamburger
            span.bar
            span.bar
            span.bar
    hr
    section#content
        main.card.main
            .login-form
                h2.login-heading Log into your account
                form.form.form-login
                    .form-group
                        label(class="", for="email") Email address
                        input#email.login-input(type="email", placeholder="you@example.com", required="required")
                    .form-group
                        label(class="", for="password") Password
                        input#password-login.login-input.password(type="password", placeholder="••••••••", required="required", minlength="8")
                    .show-password-div
                        input.show-password(type="checkbox")
                        | &nbsp;Show
                        | password
                    .center-div
                        button.action-btn-two Login
            .sign-up-options
                h5 Don&apos;t have an account? 
                    a(href="/signup") Sign Up!  