@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #000028;
  --background-color-onhover: #9999ad;
  --text-color: #ccccd6;
  --text-color-onhover: #00001e;
  --action-btn-color: #71fcdd;
  --action-btn-color-onhover: ;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--background-color);
}

#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.nav-container {
  min-height: 7rem;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10rem;
}

.nav-container p {
  font-size: 4rem;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
  list-style: none;
  font-size: 2rem;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 2.5rem;
  height: 0.3rem;
  margin: 0.5rem auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--text-color);
}

.btn-nav {
  padding: 1rem;
}

.btn-nav:hover {
  border-bottom: var(--text-color) solid 0.2rem;
}

.btn-nav a {
  text-decoration: none;
  color: var(--text-color);
}

#hero {
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

#hero .hero-left {
  width: 60%;
  margin: auto;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* justify-content: space-between; */
  text-align: center;
}

#hero h1 {
  font-size: 3.9rem;
}

#hero p {
  font-size: 1.5rem;
}

#get-started {
  display: flex;
  /* width: 100%; */
  justify-content: center;
}

/* ///////////////////////////////////////////////////////////////////////////////// */

#header {
  display: flex;
  font-size: 2rem;
  color: var(--text-color);
  width: 80%;
  margin: 1rem auto;
  justify-content: space-between;
}

.search-div {
  width: 40%;
}

#search-form {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

#search {
  width: 80%;
  border-radius: 1rem;
  border: none;
  padding: 0 1rem;
  border-bottom: 0.1rem solid var(--action-btn-color);
  background-color: var(--background-color);
  outline: none;
}

#search:focus {
  background-color: var(--text-color);
}

.user-img {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  /* margin-right: 1rem; */
}

#content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
}

.form-input {
  min-width: 30rem;
  border-radius: 1rem;
  border: none;
  padding: 0.5rem 1rem;
  background-color: var(--text-color);
  outline: none;
  display: flex;
  /* margin-right: 2rem; */
}

.form-input-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  /* padding-right: 1rem; */
}

.card-overview-job {
  color: var(--background-color);
  background-color: var(--action-btn-color);
  width: 25rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  font-size: 1.5rem;
  justify-content: space-around;
  align-items: flex-start;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  overflow: hidden;
  margin: 2rem auto;
}

.card-job {
  color: var(--background-color);
  background-color: var(--action-btn-color);
  min-width: 25rem;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  font-size: 1.5rem;
  justify-content: space-around;
  align-items: flex-start;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  overflow: hidden;
  margin: 2rem auto;
  line-height: 2.5rem;
}

.card {
  color: var(--background-color);
  background-color: var(--action-btn-color);
  min-width: 25rem;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  font-size: 1.5rem;
  justify-content: space-around;
  align-items: flex-start;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  overflow: hidden;
  margin: 2rem auto;
  line-height: 2.5rem;
}

.form {
  width: 100%;
}

.card-interview {
  color: var(--background-color);
  background-color: var(--action-btn-color);
  width: 40%;
  height: 50rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  font-size: 1.5rem;
  justify-content: space-around;
  align-items: flex-start;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  overflow: hidden;
  margin: 2rem auto;
}

.add-view-interview {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.line {
  display: flex;
  padding: 0.3rem;
}

.details {
  width: 50%;
  align-self: center;
}

.add-interview {
  align-self: center;
}

.edit-icon {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.fa-icons:hover {
  color: var(--background-color-onhover);
}

.display-none {
  display: none;
}

.disabled-icon {
  opacity: 0.5; /* Dim the icon */
  pointer-events: none; /* Disable pointer events */
  /* Add any other styles to visually indicate a disabled state */
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* User account */
#user-account {
  display: flex;
  width: 90%;
  margin: 2rem auto;
  color: var(--background-color);
}

.user-menu {
  background-color: var(--background-color-onhover);
  width: 30%;
}

.user-view {
  background-color: var(--text-color);
  width: 70%;
}

.account-div {
  padding: 3rem;
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}

.account-div:hover {
  border-left: #71fcdd solid 1rem;
  color: var(--text-color);
}

.active-btn-menu {
  border-left: #71fcdd solid 1rem;
}

.account-settings {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  font-size: 2rem;
}

.account-settings h2 {
  margin-bottom: 2rem;
}

.form-input-account {
  width: 70%;
  height: 5rem;
  border-radius: 1rem;
  border: none;
  padding: 0.5rem 1rem;
  background-color: var(--action-btn-color);
  outline: none;
  display: flex;
  font-size: 1.7rem;
}

.form-input-account:focus {
  border-bottom: #00001e solid 0.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  gap: 1rem;
}

.choose-photo {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.avatar {
  display: flex;
  flex-direction: column;
}

.save-div {
  display: flex;
  justify-content: center;
}

.width-80 {
  width: 80%;
  margin: 0 auto;
}

.admin-h3 {
  padding: 3rem;
  padding-bottom: 0;
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}

.show-password {
  width: 2rem;
  height: 2rem;
}

.show-password-div {
  display: flex;
  margin-bottom: 2rem;
}
/* ////////////////////////////////////////////////////////////////////// */

.login-input {
  background-color: #e8f0fe;
  height: 4rem;
  border-radius: 1rem;
  border: none;
  color: var(--background-color);
  padding: 1.5rem;
  outline: none;
  width: 40rem;
}

.login-input:focus {
  border: var(--background-color) solid 0.1rem;
}

.login-heading {
  padding-bottom: 2rem;
}

.sign-up-options {
  margin-top: 1rem;
}

/* ////////////////////////////////////////////////////////////////////////////////////// */
.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  justify-content: space-evenly;
}

.error__msg {
  color: red;
  font-size: larger;
}

/* ///////////////////////////////////////////////////////////////////////////////// */

.footer {
  margin-top: auto;
  padding: 3rem 10rem;
  background-color: rgba(113, 252, 221, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  color: var(--text-color);
}

.footer__nav {
  display: flex;
  gap: 5rem;
  list-style: none;
}

.footer__nav a {
  text-decoration: none;
  color: var(--text-color);
}

/* /////////////////////////////////////////////////////////////// */

/* Media query for Tab */
@media (min-width: 768px) and (max-width: 1023px) {
  .nav-container {
    padding: 0;
    justify-content: space-around;
  }

  .nav-menu {
    gap: 0;
  }

  #hero {
    flex-direction: column;
    width: 100%;
    height: 75vh;
    align-items: center;
    justify-content: space-around;
  }

  #hero .hero-left {
    width: 80%;
    height: 50%;
    justify-content: space-around;
    padding-top: 5rem;
  }

  .card-interview {
    width: 45%;
  }
  /* ///////////////////////////////////////////////// */
  .account-div {
    padding: 1rem;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  /* ////////////////////////////////////////////// */

  .footer {
    padding: 3rem 1rem;
    justify-content: space-between;
  }
}

/* //////////////////////////////////////////////////////////////// */

/* Media query For Mobile */
@media (max-width: 767px) {
  .nav-container {
    padding: 0 2.4rem;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(0.8rem) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-0.8rem) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 7rem;
    gap: 0;
    flex-direction: column;
    background-color: var(--text-color-onhover);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 0.5rem 0;
    padding: 1.5rem 0;
  }

  .nav-menu.active {
    left: 0;
  }

  /* /////////////////////////////// */

  #hero {
    flex-direction: column;
    align-items: center;
  }

  #hero .hero-left {
    width: 100%;
    height: 40%;
    padding-top: 5rem;
  }

  #hero h1 {
    font-size: 3rem;
  }

  .footer {
    padding: 1rem 0;
    flex-direction: column;
  }

  #header {
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    gap: 1.5rem;
  }

  .search-div {
    width: 100%;
  }

  .card-interview {
    width: 30rem;
  }

  .form-input {
    min-width: auto;
  }
  #content {
    width: 100%;
  }

  #user-account {
    display: flex;
    width: 95%;
    margin: 2rem auto;
    color: var(--background-color);
  }

  .account-div {
    padding: 1rem 0;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .form-input-account {
    width: 100%;
    font-size: 1.5rem;
  }

  .account-settings {
    padding: 1rem;
    font-size: 1.5rem;
  }

  .account-div {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .login-input {
    max-width: 25rem;
  }

  /* /////////////////////////////////////////// */
  .footer {
    padding: 1rem 0;
    align-items: center;
    font-size: 1.5rem;
    color: var(--text-color);
  }

  .footer__nav {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
  }
}
