:root {
  --background-color: #000028;
  --background-color-onhover: #9999ad;
  --text-color: #ccccd6;
  --text-color-onhover: #00001e;
  --action-btn-color: #71fcdd;
  --action-btn-color-onhover: ;
}

.action-btn {
  cursor: pointer;
  padding: 1rem 1.5rem;
  background-color: white;
  color: var(--background-color);
  border: none;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 2rem;
}

.action-btn-two {
  cursor: pointer;
  /* padding: 1rem 1.5rem; */
  background-color: white;
  color: var(--background-color);
  border: none;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 1rem;
}

.action-btn:hover {
  background-color: var(--action-btn-color);
}

.action-btn-two:hover {
  background-color: var(--background-color);
  color: var(--text-color);
}

.active-color {
  color: var(--action-btn-color);
}

.primary-text {
  color: var(--text-color);
}

.btn-sign-up {
  text-decoration: none;
  /* color: green; */
}

.bad-color {
  color: red;
}

.good-color {
  color: rgb(20, 114, 20);
}

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.de-link {
  color: var(--background-color);
  text-decoration: none;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: center;
}

.de-link:hover {
  color: var(--text-color);
}
